.Draggable {
  width: fit-content;
  height: fit-content;
}

.draggableIcon {
  position: absolute;
}

.fullWidthDiv {
  width: 2000vw;
  height: 2000vh;
  transform: translate(-1000vw, -1000vh);
  cursor: move;
}
