.TableForm {
  text-align: center;
}

.TableForm label {
  text-align: right;
  font-size: 12px;
}

.TableForm input {
  font-size: 12px;
}

.basicForm {
  display: grid;
  gap: 4px;
  grid-template-columns: min-content auto;
  align-items: center;
}

.divider {
  border-color: white;
}

.advancedForm {
  display: grid;
  row-gap: 8px;
  column-gap: 4px;
  grid-template-columns: min-content auto min-content auto;
  align-items: center;
}

.advancedFormField {
  display: flex;
  align-items: center;
  gap: 4px;

  max-width: 100px;
}
