.AddSidePanel {
  background-color: var(--primary-background-color-light);
  color: white;
  padding: 8px 0;
  width: 180px;
  z-index: 1; /* it has to be higher than the EditorCanvas so the preview is not above it */
}
